<!--/nav START-->
<nav class="navbar navbar-expand navbar-patric patric-bootstrap__nav shadow navbar-light" role="navigation" id="topnav">
  <ul class="nav navbar-nav container-fluid justify-content-start">
    <li class="nav-item" style="margin-right:1em;">
      <a href="https://patricbrc.org" class="nav-link nav-mobile-home navigationLink" title="PAThosystems Resource Integration Center">
        <i class="fas fa-home"></i>
      </a>
      <a class="navbar-brand navigationLink" href="/" title='PAThosystems Resource Integration Center: v. <%- request.package.version %><%- request.applicationOptions.appLabel || "" %>'>PATRIC</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-database"></i>
        <span class="d-none d-lg-inline">Data</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <div class="container my-3">
          <div class="row">
            <div class="col-md-9 mb-0">
              <h6><strong>Browse All</strong></h6>
              <hr class="hr--brand-sm col-2 ml-0 mt-0">
              <div class="row">
                <div class="col-md-12 d-flex flex-wrap justify-content-start align-items-center">
                  <a href="/view/Taxonomy/2" title="Browse Bacteria"
                    class="navigationLink pill-border d-flex justify-content-center align-items-center flex-nowrap mr-1 mb-3">
                    <img class="d-block rounded-circle" src="/public/assets/img/bacteria.png" height="30px"
                      width="30px">
                    <p class="p-0 m-0 ml-1">Bacteria</p>
                  </a>
                  <a href="/view/Taxonomy/2157" title="Browse Archaea"
                    class="navigationLink pill-border d-flex justify-content-center align-items-center flex-nowrap mr-1 mb-3">
                    <img class="d-block rounded-circle" src="/public/assets/img/archaea.png" height="30px" width="30px">
                    <p class="p-0 m-0 ml-1">Archaea</p>
                  </a>
                  <a href="/view/Host/?eq(taxon_lineage_ids,2759)#view_tab=genomes" title="Browse Eukaryotic Hosts"
                    class="navigationLink pill-border d-flex justify-content-center align-items-center flex-nowrap mr-1 mb-3">
                    <img class="d-block rounded-circle" src="/public/assets/img/eukaryotic.png" height="30px"
                      width="30px">
                    <p class="p-0 m-0 ml-1">Eukaryotic Hosts</p>
                  </a>
                  <a href="/view/Taxonomy/10239" title="Browse Phages"
                    class="navigationLink pill-border d-flex justify-content-center align-items-center flex-nowrap mr-1 mb-3">
                    <img class="d-block rounded-circle" src="/public/assets/img/phages.png" height="30px" width="30px">
                    <p class="p-0 m-0 ml-1">Phages</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <h6><strong>Raw Data Download</strong></h6>
              <hr class="hr--brand-sm col-2 ml-0 mt-0">
              <a class="btn btn-secondary" href="ftp://ftp.patricbrc.org/" title="Access PATRIC FTP Server"
                target="_blank"><i class="fas fa-download fa-fw"></i>&nbsp;FTP Server&nbsp;&nbsp;<i class="icon-external-link"></i></a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h6><strong>Bacterial Pathogens</strong></h6>
              <hr class="hr--brand-sm col-2 ml-0 mt-0 mb-0">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="mb-3 list-group list-group-flush">
                <a href="/view/Taxonomy/469#view_tab=overview" title="Browse Acinetobacter"
                  class="list-group-item list-group-item-action navigationLink">Acinetobacter</a>
                <a href="/view/Taxonomy/1386#view_tab=overview" title="Browse Bacillus"
                  class="list-group-item list-group-item-action navigationLink">Bacillus</a>
                <a href="/view/Taxonomy/773#view_tab=overview" title="Browse Bartonella"
                  class="list-group-item list-group-item-action navigationLink">Bartonella</a>
                <a href="/view/Taxonomy/64895#view_tab=overview" title="Browse Borreliella"
                  class="list-group-item list-group-item-action navigationLink">Borreliella</a>
                <a href="/view/Taxonomy/234#view_tab=overview" title="Browse Brucella"
                  class="list-group-item list-group-item-action navigationLink">Brucella</a>
                <a href="/view/Taxonomy/32008#view_tab=overview" title="Browse Burkholderia"
                  class="list-group-item list-group-item-action navigationLink">Burkholderia</a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 list-group list-group-flush">
                <a href="/view/Taxonomy/194#view_tab=overview" title="Browse Campylobacter"
                  class="list-group-item list-group-item-action navigationLink">Campylobacter</a>
                <a href="/view/Taxonomy/810#view_tab=overview" title="Browse Chlamydia"
                  class="list-group-item list-group-item-action navigationLink">Chlamydia</a>
                <a href="/view/Taxonomy/1485#view_tab=overview" title="Browse Clostridium"
                  class="list-group-item list-group-item-action navigationLink">Clostridium</a>
                <a href="/view/Taxonomy/776#view_tab=overview" title="Browse Coxiella"
                  class="list-group-item list-group-item-action navigationLink">Coxiella</a>
                <a href="/view/Taxonomy/943#view_tab=overview" title="Browse Ehrlichia"
                  class="list-group-item list-group-item-action navigationLink">Ehrlichia</a>
                <a href="/view/Taxonomy/561#view_tab=overview" title="Browse Escherichia"
                  class="list-group-item list-group-item-action navigationLink">Escherichia</a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 list-group list-group-flush">
                <a href="/view/Taxonomy/262#view_tab=overview" title="Browse Francisella"
                  class="list-group-item list-group-item-action navigationLink">Francisella</a>
                <a href="/view/Taxonomy/209#view_tab=overview" title="Browse Helicobacter"
                  class="list-group-item list-group-item-action navigationLink">Helicobacter</a>
                <a href="/view/Taxonomy/1637#view_tab=overview" title="Browse Listeria"
                  class="list-group-item list-group-item-action navigationLink">Listeria</a>
                <a href="/view/Taxonomy/1763#view_tab=overview" title="Browse Mycobacterium"
                  class="list-group-item list-group-item-action navigationLink">Mycobacterium</a>
                <a href="/view/Taxonomy/286#view_tab=overview" title="Browse Pseudomonas"
                  class="list-group-item list-group-item-action navigationLink">Pseudomonas</a>
                <a href="/view/Taxonomy/780#view_tab=overview" title="Browse Rickettsia"
                  class="list-group-item list-group-item-action navigationLink">Rickettsia</a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 list-group list-group-flush">
                <a href="/view/Taxonomy/590#view_tab=overview" title="Browse Salmonella"
                  class="list-group-item list-group-item-action navigationLink">Salmonella</a>
                <a href="/view/Taxonomy/620#view_tab=overview" title="Browse Shigella"
                  class="list-group-item list-group-item-action navigationLink">Shigella</a>
                <a href="/view/Taxonomy/1279#view_tab=overview" title="Browse Staphylococcus"
                  class="list-group-item list-group-item-action navigationLink">Staphylococcus</a>
                <a href="/view/Taxonomy/1301#view_tab=overview" title="Browse Streptococcus"
                  class="list-group-item list-group-item-action navigationLink">Streptococcus</a>
                <a href="/view/Taxonomy/662#view_tab=overview" title="Browse Vibrio"
                  class="list-group-item list-group-item-action navigationLink">Vibrio</a>
                <a href="/view/Taxonomy/629#view_tab=overview" title="Browse Yersinia"
                  class="list-group-item list-group-item-action navigationLink">Yersinia</a>
              </div>
            </div>
          </div>
          <h6><strong>Specialty Data Collections</strong></h6>
          <hr class="hr--brand-sm col-2 ml-0 mt-0 mb-0">
          <div class="row">
            <div class="col-md-3">
              <div class="mb-3 list-group list-group-flush">
                <a href="https://docs.patricbrc.org/user_guides/data/specialty_data_collections/patric_collaborations.html" title="PATRIC Collaborations"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">PATRIC Collaborations</a>
                <a href="https://docs.patricbrc.org/user_guides/data/specialty_data_collections/patric_dbps.html" title="PATRIC DBPS"
                  class="list-group-item list-group-item-action external-link">PATRIC DBPS</a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 list-group list-group-flush">
                <a href="https://docs.patricbrc.org/user_guides/data/specialty_data_collections/niaid_clinical_proteomics.html" title="NIAID Clinical Proteomics"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">NIAID Clinical Proteomics</a>
                <a href="https://docs.patricbrc.org/user_guides/data/specialty_data_collections/niaid_genome_sequencing.html" title="NIAID Genome Sequencing"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">NIAID Genome Sequencing</a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 list-group list-group-flush">
                <a href="https://docs.patricbrc.org/user_guides/data/specialty_data_collections/niaid_structural_genomics.html" title="NIAID Structural Genomics"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">NIAID Structural Genomics</a>
                <a href="https://docs.patricbrc.org/user_guides/data/specialty_data_collections/niaid_systems_biology.html" title="NIAID Systems Biology"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">NIAID Systems Biology</a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 list-group list-group-flush">
                <a href="https://docs.patricbrc.org/user_guides/data/specialty_data_collections/niaid_functional_genomics.html" title="NIAID Functional Genomics"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">NIAID Functional Genomics</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown__workspace" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-table"></i>
        <span class="d-none d-lg-inline">
          <span class="d-none d-lg-inline">Workspaces</span>
        </span>
      </a>
      <div class="dropdown-menu" id="dropdown-menu__workspace" aria-labelledby="navbarDropdown__workspace">
        <div class="container my-3">
          <div class="row">
            <div class="col-md-12 HideWithAuth">
              <!-- show message for !logged in users -->
              <h6><strong>Workspaces</strong></h6>
              <hr class="hr--brand-sm col-2 ml-0 mt-0 mb-0">
              <div class="HideWithAuth showOnLoad">
                <div class="mb-3 mt-3 list-group list-group-flush">
                  <p>
                      <a class="loginLink" href="">Sign in</a> to view your workspaces and more.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4 ShowWithAuth">
              <h6><strong>Workspace</strong></h6>
              <hr class="hr--brand-sm col-2 ml-0 mt-0 mb-0">
              <div>
                <div class="mb-3 list-group list-group-flush">
                  <a class="navigationLink list-group-item list-group-item-action" id="YourWorkspaceLink">My
                    Workspaces</a>
                  <div id="YourWorkspaces" class="mt-1 mb-1">
                  </div>
                  <a class="navigationLink list-group-item list-group-item-action" href="/workspace/public">Public
                    Workspaces</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 ShowWithAuth" id="menu-list-mydata">
              <h6><strong>My Groups</strong></h6>
              <hr class="hr--brand-sm col-2 ml-0 mt-0 mb-0">
              <!-- show my data links for logged in users -->
              <div class="">
                <div style="display:none"><a class="navigationLink" id="YourWorkspaceLink2">My Workspaces</a></div>
                <!-- this is needed to for p3app.js:639 to work. Needs rework -->
                <div class="mb-3 list-group list-group-flush">
                  <a class="navigationLink list-group-item list-group-item-action" id="MyDataGenomeGroup">Genome
                    Groups</a>
                  <a class="navigationLink list-group-item list-group-item-action" id="MyDataFeatureGroup">Feature
                    Groups</a>
                  <a class="navigationLink list-group-item list-group-item-action" id="MyDataExperimentGroup">                    Experiment Groups</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 ShowWithAuth">
              <h6><strong>Shortcuts</strong></h6>
              <hr class="hr--brand-sm col-2 ml-0 mt-0 mb-0">
              <div class="">
                <div class="mb-3 list-group list-group-flush">
                  <a class="navigationLink list-group-item list-group-item-action" href="/job/">
                    My Jobs</a>
                  <a class="navigationLink list-group-item list-group-item-action" href="/view/GenomeList/?eq(public,false)">
                    My Genomes
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown__services" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-cogs"></i>
        <span class="d-none d-lg-inline">Services</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown__services">
        <div class="container my-3">
          <div class="row">
            <div class="col-md-4">
              <h6><strong>Genomics</strong></h6>
              <hr class="hr--brand-sm col-2 ml-0 mt-0 mb-0">
              <div class="mb-3 list-group list-group-flush">
                <a href="/app/Assembly2" title="Service: Assembly"
                  class="list-group-item list-group-item-action navigationLink">Assembly <span class="badge badge-primary">new</span></a>
                <a href="/app/Annotation" title="Service: Annotation"
                  class="list-group-item list-group-item-action navigationLink">Annotation</a>
                <a href="/app/ComprehensiveGenomeAnalysis" title="Service: Comprehensive Genome Analysis"
                  class="list-group-item list-group-item-action navigationLink">Comprehensive Genome Analysis</a>
                <a href="/app/BLAST" title="Service: BLAST"
                  class="list-group-item list-group-item-action navigationLink">BLAST</a>
                <a href="/app/GenomeDistance" title="Service: Similar Genome Finder"
                  class="list-group-item list-group-item-action navigationLink">Similar Genome Finder</a>
                <a href="/app/Variation" title="Service: Variation Analysis"
                  class="list-group-item list-group-item-action navigationLink">Variation Analysis</a>
                <a href="/app/Tnseq" title="Service: Tn-Seq Analysis"
                  class="list-group-item list-group-item-action navigationLink">Tn-Seq Analysis</a>
                <a href="/app/PhylogeneticTree" title="Service: Phylogenetic Tree"
                  class="list-group-item list-group-item-action navigationLink">Phylogenetic Tree</a>
                <a href="/app/GenomeAlignment" title="Service: Genome Alignment"
                  class="list-group-item list-group-item-action">Genome Alignment</a>
              </div>
            </div>
            <div class="col-md-4">
              <h6><strong>Metagenomics</strong></h6>
              <hr class="hr--brand-sm col-2 ml-0 mt-0 mb-0">
              <div class="mb-3 list-group list-group-flush">
                <a href="/app/MetagenomicReadMapping" title="Service: Metagenomic Read Mapping"
                  class="list-group-item list-group-item-action navigationLink">Metagenomic Read Mapping</a>
                <a href="/app/TaxonomicClassification" title="Service: Taxonomic Classification"
                  class="list-group-item list-group-item-action navigationLink">Taxonomic Classification</a>
                <a href="/app/MetagenomicBinning" title="Service: Metagenomic Binning"
                  class="list-group-item list-group-item-action navigationLink">Metagenomic Binning</a>
              </div>
              <h6><strong>Transcriptomics</strong></h6>
              <hr class="hr--brand-sm col-2 ml-0 mt-0 mb-0">
              <div class="mb-3 list-group list-group-flush">
                <a href="/app/Expression" title="Service: Expression Import"
                  class="list-group-item list-group-item-action navigationLink">Expression Import</a>
                <a href="/app/Rnaseq" title="Service: RNA-Seq Analysis"
                  class="list-group-item list-group-item-action navigationLink">RNA-Seq Analysis</a>
              </div>
            </div>
            <div class="col-md-4">
              <h6><strong>Protein Tools</strong></h6>
              <hr class="hr--brand-sm col-2 ml-0 mt-0 mb-0">
              <div class="mb-3 list-group list-group-flush">
                <a href="/app/ProteinFamily" title="Service: Protein Family Sorter"
                  class="list-group-item list-group-item-action navigationLink">Protein Family Sorter</a>
                <a href="/app/SeqComparison" title="Service: Proteome Comparison"
                  class="list-group-item list-group-item-action navigationLink">Proteome Comparison</a>
              </div>
              <h6><strong>Metabolomics</strong></h6>
              <hr class="hr--brand-sm col-2 ml-0 mt-0 mb-0">
              <div class="mb-3 list-group list-group-flush">
                <a href="/app/ComparativePathway" title="Service: Comparative Pathway"
                  class="list-group-item list-group-item-action navigationLink">Comparative Pathway</a>
                <a href="/app/Reconstruct" title="Service: Model Reconstruction"
                  class="list-group-item list-group-item-action navigationLink">Model Reconstruction</a>
              </div>
              <h6><strong>Data</strong></h6>
              <hr class="hr--brand-sm col-2 ml-0 mt-0 mb-0">
              <div class="mb-3 list-group list-group-flush">
                <a href="/app/IDMapper" title="Service: ID Mapper"
                  class="list-group-item list-group-item-action navigationLink">ID
                  Mapper</a>
                <a href="/app/FastqUtil" title="Service: Fastq Utilities" class="list-group-item list-group-item-action"
                  navigationLink>Fastq Utilities</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown__docs" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-book"></i>
        <span class="d-none d-lg-inline">Help</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown__docs">
        <div class="container my-3">
          <div class="row">
            <div class="col-md-4">
              <h6><strong>User Guides</strong></h6>
              <hr class="hr--brand-sm col-2 ml-0 mt-0 mb-0">
              <div class="mb-3 list-group list-group-flush">
                <a href="https://docs.patricbrc.org/user_guides/organisms_tab.html" title="Docs: Organisms"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">Organisms</a>
                <a href="https://docs.patricbrc.org/user_guides/data/index.html"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">Data</a>
                <a href="https://docs.patricbrc.org/user_guides/workspace_groups_upload.html"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">Workspace, Private Data, Groups, Jobs</a>
                <a href="https://docs.patricbrc.org/user_guides/services_tab.html"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">Services and Tools</a>
                <a href="https://docs.patricbrc.org/user_guides/global_search.html"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">Global Search</a>
                <a href="https://docs.patricbrc.org/user_guides/registration.html"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">Registration</a>
                <a href="https://docs.patricbrc.org/user_guides/views_tables_action-bar.html"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">Website Views, Tables, Filters, Action Bar</a>
                <a href="https://docs.patricbrc.org/user_guides/system_requirements.html"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">System Requirements</a>
                <a href="https://docs.patricbrc.org/user_guides/data_submission_to_patric.html"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">Data Submission to PATRIC</a>
                <a href="https://docs.patricbrc.org/user_guides/ftp.html"
                  class="list-group-item list-group-item-actio external-link"
                  target="_blank">FTP Site</a>
              </div>
            </div>
            <div class="col-md-4">
              <h6><strong>Tutorials</strong></h6>
              <hr class="hr--brand-sm col-2 ml-0 mt-0 mb-0">
              <div class="mb-3 list-group list-group-flush">
                <a href="https://docs.patricbrc.org/videos/index.html"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">Instructional Videos</a>
                <a href="https://docs.patricbrc.org/tutorial/index.html#genomics"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">Genomics</a>
                <a href="https://docs.patricbrc.org/tutorial/index.html#metagenomics"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">Metagenomics</a>
                <a href="https://docs.patricbrc.org/tutorial/index.html#transcriptomics"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">Transcriptomics</a>
                <a href="https://docs.patricbrc.org/tutorial/index.html#protein-tools"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">Protein Tools</a>
                <a href="https://docs.patricbrc.org/tutorial/index.html#metabolomics"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">Metabolomics</a>
                <a href="https://docs.patricbrc.org/tutorial/index.html#data"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">Data</a>
                <a href="https://docs.patricbrc.org/tutorial/index.html#others"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">Others</a>
              </div>
            </div>
            <div class="col-md-4">
              <h6><strong>Common Tasks in PATRIC</strong></h6>
              <hr class="hr--brand-sm col-2 ml-0 mt-0 mb-0">
              <div class="mb-3 list-group list-group-flush">
                <a href="https://docs.patricbrc.org/common_tasks/gui_tasks.html"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">Common Tasks Using the Web Interface</a>
                <a href="https://docs.patricbrc.org/cli_tutorial/cli_common_tasks.html"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">Common Tasks With P3 Scripts</a>
              </div>
              <h6><strong>Command Line Interface</strong></h6>
              <hr class="hr--brand-sm col-2 ml-0 mt-0 mb-0">
              <div class="mb-3 list-group list-group-flush">
                <a href="https://docs.patricbrc.org/cli_tutorial/index.html#installing-the-cli-release"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">Installing the CLI Release</a>
                <a href="https://docs.patricbrc.org/cli_tutorial/index.html#tutorials-and-reference-documentation"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">Tutorials and Reference Documentation</a>
                <a href="https://docs.patricbrc.org/cli_tutorial/index.html#rast-tutorials"
                  class="list-group-item list-group-item-action external-link"
                  target="_blank">RAST Tutorials</a>
              </div>
              <h6><strong>Contact</strong></h6>
              <hr class="hr--brand-sm col-2 ml-0 mt-0 mb-0">
              <a class="mb-3 mt-2 btn btn-secondary DialogButton" href="#" rel="reportProblem:"><i
                class="fas fa-envelope fa-fw"></i> Provide Feedback</a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown__about" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bookmark"></i>
        <span class="d-none d-lg-inline">About</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown__about">
        <div class="container my-3">
          <div class="row">
            <div class="col-md-6">
              <h6><strong>About Us</strong></h6>
              <hr class="hr--brand-sm col-2 ml-0 mt-0 mb-0">
              <div class="mb-3 list-group list-group-flush">
                <a href="https://docs.patricbrc.org/about.html" class="list-group-item list-group-item-action external-link"
                target="_blank">About Us</a>
                <a href="https://docs.patricbrc.org/personnel.html"
                  class="list-group-item list-group-item-action external-link" target="_blank">Personnel</a>
                <a href="https://docs.patricbrc.org/scientific_working_group.html"
                  class="list-group-item list-group-item-action external-link" target="_blank">Scientific Working Group</a>
                <a href="https://docs.patricbrc.org/news/index.html" class="list-group-item list-group-item-action external-link"
                target="_blank">News &amp; Announcements Archives</a>
                <a href="https://docs.patricbrc.org/brochure.html"
                  class="list-group-item list-group-item-action external-link" target="_blank">Download Brochure</a>
                <a href="https://docs.patricbrc.org/presentations.html"
                  class="list-group-item list-group-item-action external-link" target="_blank">Presentations</a>
                <a href="https://docs.patricbrc.org/publications.html"
                  class="list-group-item list-group-item-action external-link" target="_blank">Publications</a>
              </div>
            </div>
            <div class="col-md-6">
              <h6><strong>Useful Links</strong></h6>
              <hr class="hr--brand-sm col-2 ml-0 mt-0 mb-0">
              <div class="mb-3 list-group list-group-flush">
                <a href="https://docs.patricbrc.org/usage_metrics.html"
                  class="list-group-item list-group-item-action external-link" target="_blank">Usage Metrics</a>
                <a href="https://docs.patricbrc.org/cite_patric.html"
                  class="list-group-item list-group-item-action external-link" target="_blank">Citing PATRIC</a>
                <a href="https://docs.patricbrc.org/system_documentation.html"
                  class="list-group-item list-group-item-action external-link" target="_blank">Systems Architecture</a>
                <a href="https://docs.patricbrc.org/related_sites.html"
                  class="list-group-item list-group-item-action external-link" target="_blank">Related Sites</a>
                <a href="https://docs.patricbrc.org/privacy_policy.html"
                  class="list-group-item list-group-item-action external-link" target="_blank">Privacy Policy</a>
                <a href="https://docs.patricbrc.org/github.html"
                  class="list-group-item list-group-item-action external-link" target="_blank">GitHub</a>
                <a href="/status"
                  class="list-group-item list-group-item-action navigationLink">System Status</a>
              </div>
            </div>
          </div>
        </div>
    </li>
    <li class="nav-item flex-grow-1 d-none d-xl-inline"></li>
    <li class="nav-item flex-grow-1">
        <div data-dojo-type="dijit/layout/ContentPane" id="search_navbar">
          <div class="global-search">
            <div style="flex-grow: 1">
              <input style="font-size:1em;" class="showOnLoad dijitHidden"
                data-dojo-type="p3/widget/GlobalSearch" />
            </div>
          </div>
        </div>
    </li>


    <li class="nav-item dropdown dropdown__login HideWithAuth">
      <a class="nav-link dropdown-toggle loginLink" href="" id="navbarDropdown__login" role="button">
        <i class="fas fa-user-circle"></i>
        <span class="d-none d-lg-inline">
          <span>Sign in</span>
        </span>
      </a>
    </li>

    <li class="nav-item dropdown dropdown__login showOnLoad ShowWithAuth">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown__login" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle"></i>
        <span class="d-none d-lg-inline">
          <span class="ShowWithAuth"><span id="signedInAs"></span></span>
        </span>
      </a>

      <div class="dropdown-menu dropdown-menu__account ShowWithAuth" aria-labelledby="navbarDropdown__login">
        <div class="container my-3">
          <div class="row">
            <div class="col-md-12">
              <h6><strong>My Account</strong></h6>
              <hr class="hr--brand-sm col-2 ml-0 mt-0 mb-0">

              <div class="showOnLoad ShowWithAuth dijitHidden">
                <span></span>
                <div class="mb-3 list-group list-group-flush">
                  <!-- <div class="mb-2 text-dark pl-3">Signed in as </div> -->
                  <a href="" class="userProfile list-group-item list-group-item-action">Account Settings</a>
                  <a href="" class="sulogin list-group-item list-group-item-action">SU Login</a>
                  <a href="" class="suSwitchBack list-group-item list-group-item-action"
                    onclick="window.App.suSwitchBack()" style="display:none">SU Switch Back</a>
                  <a href="" class="logoutLink list-group-item list-group-item-action"
                    onclick="window.App.logout()">Sign Out</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</nav>
<!--/nav END-->